* {
    margin:0; padding:0;
    font: 400 1rem/1.5em serif;
}
html,body { width:100%; height:100%; }

h1,h2 {
    font-family: sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2em;
}

.container-fluid {
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.col-4 {
    width: 100%;
    max-width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-12 {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.mt-2 {
    margin-top: .5rem;
}



.col-4 {
    /* background: blue; */
}
.col-12 {
    /* background:red; */
}

strong { font-weight: bold; }


body { padding-bottom: 6rem; }

.instruction {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.instruction .group {
    padding: 5px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: black;
    margin-right: 5px;
    max-width: calc((2rem * 8) + (5px * 3));
    border: 1px solid black;
    margin-top: 5px;
}
.instruction .group .description {
    margin-bottom: .5rem;
}
.instruction .group .description label {
    font-weight: bold;
    display: block;
}

/* .instruction .bg-gray { background: gray; }
.instruction .bg-pink { background: pink; }
.instruction .bg-yellow { background: yellow; }
.instruction .bg-blue { background: blue; }
.instruction .bg-green { background: green; }
.instruction .bg-orange { background: orange; }
.instruction .bg-red { background: red; } */
.instruction .group input {
    font-family: monospace;
    text-align: center;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    box-sizing: border-box;
    border-style: solid dashed;
    border-width: 1px;
    border-color: gray;
    margin-bottom: 5px;
}
.instruction .group input:first-of-type {
    border-left-style: solid !important;
}
.instruction .group input:last-child {
    border-right-style: solid;
}
